DB_POSTGRES_PORT_IN = 5436
DB_POSTGRES_PORT_OUT = 5432

DB_POSTGRES_NAME_DB = 'shop'
DB_POSTGRES_USER = 'test_user'
DB_POSTGRES_PASSWORD = 'test_password'
DB_POSTGRES_HOST = 'db_postgresql'
DB_POSTGRES_PORT = 5432 # 5436


DB_MYSQL_PORT_IN = 3308
DB_MYSQL_PORT_OUT = 3306

DB_MYSQL_NAME_DB = 'shop'
DB_MYSQL_USER = 'test_user'
DB_MYSQL_PASSWORD = 'test_password'
DB_MYSQL_HOST = 'db_mysql'
DB_MYSQL_PORT = 3306