DB_POSTGRES_PORT_IN=5436
DB_POSTGRES_PORT_OUT=5432

DB_POSTGRES_NAME_DB=shop
DB_POSTGRES_USER=test_user
DB_POSTGRES_PASSWORD=test_password_kurepin_shop
DB_POSTGRES_HOST=db_postgresql
DB_POSTGRES_PORT=5432

DB_MYSQL_PORT_IN=3308
DB_MYSQL_PORT_OUT=3306

DB_MYSQL_NAME_DB=shop
DB_MYSQL_USER=test_user
DB_MYSQL_PASSWORD=test_password_kurepin_shop
DB_MYSQL_HOST=db_mysql
DB_MYSQL_PORT=3306

DATA_GEN_COUNT_USERS=2000
DATA_GEN_COUNT_CATEGORIES_WITH_PARENTS=10
DATA_GEN_COUNT_PRODUCTS=500
DATA_GEN_COUNT_ORDERS=60000
DATA_GEN_COUNT_ORDER_DETAILS=80000

AIRFLOW_WEB_USERNAME=admin
AIRFLOW_WEB_FIRSTNAME=andre
AIRFLOW_WEB_LASTNAME=kurepin
AIRFLOW_WEB_ROLE=Admin
AIRFLOW_WEB_EMAIL=kurepin.andre@yandex.ru
AIRFLOW_WEB_PASSWD=andre_kur_admin_pass_12
AIRFLOW__WEBSERVER__SECRET_KEY=5ZCItDTk9potGwfrUCa6ceeFCqhvWCxP
AIRFLOW__CORE__EXECUTOR=SequentialExecutor
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=sqlite:////usr/local/airflow/db/airflow.db
AIRFLOW__CORE__LOAD_EXAMPLES=False

SPARK_PORT=7077